header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #202020aa;
    z-index: 1000;
}
header > div{
    width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.headerUlMenu{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.headerUlMenu li{
    margin-left: 5px;
    margin-right: 35px;
}
.headerLiA{
    color:#fffd;
}
.UserInfoLogin{
    flex-grow: 1;
    height: 100%;
    background-color: #0005;
    display: flex;
}
.UserInfoLogin .noLoginButton{
    width: 100%;
    height: 100%;
    display: flex;
    color: #fffa;
    justify-content: center;
    align-items: center;
}